@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

.imgBonsDrinks{
    grid-area: "img";
    height: 90vh;
    background: url('../../assents/bg-bons-drinks.jpg')center no-repeat fixed;
    background-size: cover;
    grid-area: content;
}
.titleIntro{
    font-family: "Bilbo Swash Caps",cursive;
    font-size: 120px;
    text-align: center;
    color: #fffdf8;
    animation: titleAnimation 1.2s;
}
@keyframes titleAnimation{
    from{
        opacity: 0;
        font-size: 0px;
    }
    to{
        opacity: 1;
        font-size: 120px;
    }
}